<div style="background-image: url('/assets/image.jpeg'); background-size: cover; background-position: center; height: 100vh;">
      

<div class="bootstrap-wrapper" >
  <div class="container mt text-center">
    
      <h1 style="color: aliceblue;">Welcome to Login Page</h1>

      <!-- Creating a form to fill the Login Details -->
      <form action="submit">
          <div class="example-container">
              <!-- Username Input -->
              <mat-form-field class="full-width">
                <mat-label >Enter Username</mat-label>
                <input matInput class="input-field custom-input" type="text">
            </mat-form-field>
          <div></div>
            <mat-form-field class="full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput class="input-field custom-input" type="{{hide ? 'password' : 'text'}}">
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>
            
            
          </div>
          <button type="submit" color="accent" mat-flat-button style="margin-right: 10px;">Login</button>
      </form>
  </div>
</div>
</div>


