
<div class = "bootstrap-wrapper">
    <div class="container mt text-center">
    <h1 class="stylesheet " >Hi Welcome to My Page</h1>
    </div>
</div>

<div class = "bootstrap-wrapper">
    <div class="container mt text-center">
    <a class="text-align" mat-flat-button color="primary" routerLink="/mypic">CLICK HERE TO CHECKOUT OWNER OF THIS PAGE</a>
    </div>
</div>

<div class = "bootstrap-wrapper">
    <div class="container mt text-center">
        <h1 style="color: black;">Hey if you are new to this page please signup</h1>
    </div>
</div>
