<div class="bootstrap-wrapper">
    <div class="row text-center">
        <div class="col-12">
            <img class="float-left" style="width: 300px;" src="/assets/MyPic.jpg" alt="" />
        </div>
    </div>
    <div class="row mt-4"> <!-- Add margin-top for spacing -->
        <div class="col-12">
            <h2 class="text-center">About Me</h2>
            <p class="text-center">
                I am Neeraj Patil, a passionate Software Developer with a love for Tech Gadgets and playing outdoor games. 
                I have 2 years of experience in Front End and am dedicated to work.
            </p>
        </div>
    </div>
</div>


    
