<div class="bootstrap-wrapper">
  <div class="container mt text-center">
      
      <h1>Welcome to Login Page</h1>

      <!-- Creating a form to fill the Login Details -->
      <form action="submit">
          <div class="example-container">
              <!-- Username Input -->
              <mat-form-field class="full-width">
                  <mat-label>Enter Username</mat-label>
                  <input matInput class="input-field" type="text">
              </mat-form-field>
         
              <mat-form-field class="full-width">
                  <mat-label>Enter your password</mat-label>
                  <input matInput class="input-field" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
          </div>
          <button type="submit" color="accent" mat-flat-button>Login</button>
      </form>
  </div>
</div>
